<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/quiz-final.css">
    <title>Award-Page</title>
</head>
<body>
    <!--Points on correct answer-->
    <div class="wrapper">
        <div class="border">
            <i class="fa fa-trophy award_icon" style="margin: 10px 0px 0px 130px; color: gold;"></i>
            <h1 class="username"><span class="name" style="font-size: 50px; color: #fff;"></span><br>CONGRATULATIONS !</h1>
            <p class="userpoints">Your Points <span class="points" style="color: greenyellow;"></span></p>
            <p class="userpoints"><button class="button" type="button" ><span class="span"></span><a href="tests.ejs">RETURN TO TESTS</a></button></p>
        </div>
    </div>



    <script src="https://kit.fontawesome.com/d56261bbb9.js"></script>

    <script src="userinfo.js"></script>
</body>
</html>