<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <link rel="stylesheet" href="css/login_style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
	</head>
	<body>
		

		  <div class="login-box">
			<h1>Login</h1>
			<form action="/login" method="POST">
			  <label for="email">Email</label>
			  <input id = "email" type="text" name="email" placeholder="Enter Email" required>
			  <label for="password">Password</label>
			  <input id = "password" type="password" name="password" placeholder="Enter Password" required>
			  <button id = "submitBtn" type="submit" class="btn">Login</button>
			</form>
			<a id = "register" href = "/register">Don't have an account?</a>
		  </div>

          <div style="margin-top: 20px;">
			<a href="/index"><button style="background-color: green; color: white; padding: 10px;">Proceed to the main page</button></a>
		</div>

		<script>
			const form = document.getElementById('login')
			form.addEventListener('submit', login)

			async function login(event) {
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value

				const result = await fetch('/api/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
					console.log('Got the token: ', result.data)
					localStorage.setItem('token', result.data)
					alert('Success')
				} else {
					alert(result.error)
				}
			}
		</script>
	</body>
</html>