<!DOCTYPE html>
<html>
    <head>
        <title> SLP - Simply Learn Programming</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;0,600;1,1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    </head>
    <body>
        <section>
        <div class="banner">
            <div class="navbar">
                <a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ"><img src="TransLogo.png" class="logo"></a>
                <ul>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="about.ejs">About</a></li>
                    <li><a href="tests.ejs">Tests</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>SIMPLY LEARN PROGRAMMING</h1>
                <p>Subscribe to my channel to learn more about programming!
                    <br>Press the Learn More button for more information on my website page!
                </p>
                <div>
                    <button class="button" type="button"><span class="span"></span><a href="#aboutUs">LEARN MORE</a></button>
                    <button class="button" type="button"><span class="span"></span><a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ">SUBSCRIBE</a></button>
                </div>


            </div>
        </div>
        </section>

        <!-- New Section -->

        <section class="course">
            <h1 id="aboutUs">About Us</h1>
            <p>Simply Learn Programming, offers free courses currently for anyone wanting to learn
                Simply Learn Programming is an online platform, to assist new students in learning programming concepts.
                With the spiking interest in programmer jobs and the overall need for basic computing knowledge, 
                we are here to assist you with starting your computing jouney!
                Do you wish to learn Java? Python? HTML? 
                Any course introduction can be viewed in the Test Section of the website, as we offer it for free!
                Want to receive new content first?
                Subscribe to our YouTube channel, to be the first to view our free programming concepts videos!
            </p>
            <br>
            <a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ"><img src="TransLogo.png" class="logo"></a>
            <br>
            <div class="row">
                <div class="course-col">
                    <h3>Courses</h3>
                    <p>We offer courses differing on programming language. Feel free to start with any course you like and choose
                        what fits you! Current available choices are: Java, Python and CSS with more coming to the future!
                        Have confidence in your knowldge? Test your skills in our Tests section!
                    </p>
                </div>

                <div class="course-col">
                    <h3>Degree</h3>
                    <p>Want to start your degree? Or are unsure about your future? Feel free to visit the social media at the bottom of the page and ask us questions!
                        As international students ourselves, we will be more than happy to assist and inform you for any questions in matter! If in desperate need,
                        you could join our <a href="https://discord.gg/cQ8qMdx6rR">Discord Server</a>.
                    </p>
                </div>

                <div class="course-col">
                    <h3>Contact Media</h3>
                    <p>Feel free to contact us and suggest anything you like and or dislike about our website. Every opinion matter!
                        Share around with your friends, and feel free to share your opinion back to us!<br>
                        Email for contact: <a href="mailto:borko.alexandrov.1990@gmail.com">borko.alexandrov.1990@gmail.com</a>
                    </p>
                </div>

            </div>

        
        
        </section>

        <!--Footer Section-->
        <section class="footer">
            <h4>About the developper</h4>
            <p>I am a graduating student in Robert Gordon Univercity and as such, I would like to pass my knowledge down to the starting students, share my experience or help in any way possible.
                <br>As an international student myself I understand your situation and/or confusion in wanting to study abroad, that is why I am here to share all of my knowledge.
                <br><br>Feel free to contact me on any social media or check out my YouTube channel.
            </p>
            <div class="icons">
                <a href="https://www.facebook.com/borislav.alexandrov.161/"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.instagram.com/borko_alexandrov/"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/bork0047"><i class="fa fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ"><i class="fa fa-youtube-play"></i></a>
            </div>
        </section>

    </body>
</html>
