*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Ysabeau', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(203, 196, 196, 0.75), rgba(131, 130, 130, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(64, 158, 216);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #708da1;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    margin: 20px auto;
    font-size: 100;
    line-height: 25px;
}
.content button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #708da1;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.span{
    background: #708da1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

/*Section 2 on the webpage*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #282525;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #76cbef;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 700;
    margin: 8px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.25);
}

/*Third section start*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 40%;
    border-radius: 15px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    display: block;
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
    background: rgb(112, 141, 161);
}
.layer h3{
    width: 100%;
    font-weight: 50%;
    color: #fff;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}
.layer:hover h3{
    bottom: 45%;
    opacity: 1;
}


/*Footer Section*/
.footer{
    width: 100%;
    text-align: center;
    padding: 32px o;
}
.footer h4{
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 600;
}
.icons .fa{
    color: #708da1;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/*Tests Page*/
.rowTest{
    margin-top: 5%;
    display: block;
    justify-content: space-between;
}

.ytVideo{
    padding: 30px;
}

.ytButton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #708da1;
    background: transparent;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.ytSpan{
    background: #47aaeb;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}

.ytButton:hover span{
    width: 100%;
}
.ytButton:hover{
    border: none;
}

.rowTest button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

