<!DOCTYPE html>
<html>
    <head>
        <title> SLP - Simply Learn Programming</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;0,600;1,1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    </head>
    <body>
        <section>
        <div class="banner">
            <div class="navbar">
                <a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ"><img src="TransLogo.png" class="logo"></a>
                <ul>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="about.ejs">About</a></li>
                    <li><a href="tests.ejs">Tests</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>SIMPLY LEARN PROGRAMMING
                    <br> <br>Welcome to the Tests section!
                </h1>
                <p>Click on the 'Make a Test' button to jump to the free material!
                    <br>Press the Subscribe button to visit my youtube channel for programming concepts!
                </p>
                <div>
                    <button class="button" type="button"><span class="span"></span><a href="#onlineTests">DO A TEST</a></button>
                    <button class="button" type="button"><span class="span"></span><a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ">SUBSCRIBE</a></button>
                </div>


            </div>
        </div>
        </section>

        <!-- New Section -->

        <section class="course">
            <h1>Offered Courses</h1>
            <p>Simply Learn Programming, offers free courses currently for anyone wanting to learn.</p>
            
            <div class="row">
                <div class="course-col">
                    <h3>Courses</h3>
                    <p>This website offers free online courses for starting students, featuring the basic concepts of programming.
                        The courses can be seen in either the 'Watch' section or on my YouTube channel below.
                    </p>
                </div>

                <div class="course-col">
                    <h3>Degree</h3>
                    <p>As a starting online teacher, currently I am finishing my Honours Degree in Computer Science in RGU. More information can be found below.</p>
                </div>

                <div class="course-col">
                    <h3>Future Education</h3>
                    <p>As a final-year student in Robert Gordon Univercity, I am open to discussing with students around the world
                        in choosing what and where they want to study. Feel free to contact me and ask me questions about my experience.
                    </p>
                </div>

            </div>

        
        
        </section>


        <!--3rd section start, need to put a fitting image there-->

        <section id="onlineTests" class="campus">
            <h1>Online Tests</h1>
            <p>Simply Learn Programming, offers free courses currently for anyone who wants to start learning programming.
                As a student, the creator of this website is more than happy to tell you about his education and experience
                in Robert Gordon Univercity, Aberdeen.
            </p>

            <div class="rowTest">

                <div>
                    <iframe class="ytVideo" width="560" height="315" src="https://www.youtube.com/embed/TzsnN9GLw44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div>
                    <button class="ytButton"><span class="ytSpan"></span><a href="quiz.ejs">Test your skills</a></button>
                </div>

                <div>
                    <iframe class="ytVideo" width="560" height="315" src="https://www.youtube.com/embed/So0ARHQTWjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div>
                    <button class="ytButton"><span class="ytSpan"></span><a href="quiz2.ejs">Test your skills</a></button>
                </div>

                <div>
                    <iframe class="ytVideo" width="560" height="315" src="https://www.youtube.com/embed/cAfForW4BIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div>
                    <button class="ytButton"><span class="ytSpan"></span><a href="quiz3.ejs">Test your skills</a></button>
                </div>

            </div>

        </section>

        <!--Footer Section-->
        <section class="footer">
            <h4>About me</h4>
            <p>I am a graduating student in Robert Gordon Univercity and as such, I would like to pass my knowledge down to the starting students, share my experience or help in any way possible.
                <br>As an international student myself I understand your situation and/or confusion in wanting to study abroad, that is why I am here to share all of my knowledge.
                <br><br>Feel free to contact me on any social media or check out my YouTube channel.
            </p>
            <div class="icons">
                <a href="https://www.facebook.com/borislav.alexandrov.161/"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.instagram.com/borko_alexandrov/"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/bork0047"><i class="fa fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UC9MqwAmRvsIpxfXInRafYyQ"><i class="fa fa-youtube-play"></i></a>
            </div>
        </section>

    </body>
</html>
